/* css for navbar*/

.app-header {
    /* background-color: #2f353a; */
    background-color: #23282c;
    color: white;
}

.app-header .navbar-brand {
    color: white;
    margin-left:-130px;
}

.app-header .navbar-toggler-icon {
    color: white;
}

.app-footer{
    background-color: #2f353a;
    color:white;
}
.text-muted{
    font-size:17px;
    color:white;
}
/* css for tabs*/

.tab-link.active {
    color: black !important;
    background-color: white !important;
}

.tab-link {
    background-color: #23282c;
    color: white !important;
}

/* css for sidebar*/

.sidebar {
    position: relative;
    color: #306c9c !important;
    background-color: azure;
    /* font-weight: bold; */
}

.sidebar .nav-link.active {
    color: orange;
}

.sidebar .nav-dropdown.open .nav-link.active {
    color: orange;
    font-weight: bold;
}

.sidebar .nav-dropdown-items .nav-item {
    color: white;
    margin-left: 15px;
    font-size: small;
}

.sidebar {
    position: relative;
    color: #306c9c !important;
    /* font-weight: bold; */
}

.sidebar .nav-dropdown.open .nav-dropdown-toggle {
    color: orange;
    background-color: #89a5bb;
    font-weight: bold;
}

.sidebar .nav-dropdown.open .nav-dropdown-toggle .nav-icon {
    color: orange;
}

.sidebar .nav-link.active {
    background: #4289c1;
    /*  #306c9c; */
}

.sidebar .nav-link.active .nav-icon {
    color: orange;
}

/* css for orderup and down button */

.order-btn {
    margin-left: 0px;
    padding: 0px 2px 0px 2px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: #055d78;
}

.fa-arrow-up, .fa-arrow-down {
    color: white;
}

/* css for buttons*/

.btn-success {
    background-color: #067a52;
}

.edit-btn {
    margin-left: 2px;
    padding: 0px 2px 0px 3px;
    border-radius: 4px;
    font-size: 16px;
}

.delete-btn {
    margin-left: 2px;
    padding: 0px 2px 0px 2px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.btn-back {
    margin: 20px 0px 30px 30px;
    background-color: #1cbfd1;
    color: black;
    font-weight: bolder;
}

.btn-next {
    margin: 20px 0px 30px 30px;
    background-color: #21c249;
    color: black;
    font-weight: bolder;
}

.btn-cancel {
    margin: 0px 0px 50px 3%;
}

.form-inline {
    justify-content: space-between;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 2px;
    margin-bottom: -5px;
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: inherit;
    color: #9C27B0;
    background-color: #c4d8e2;
    font-weight: 550;
}

.legend0 {
    width: 98%;
    max-width: 100%;
    font-size: 1.2rem;
    margin-left: 12px;
    line-height: 10px;
    margin-bottom: 15px;
    padding-bottom: 17px;
    color: #9C27B0;
    background-color: #c4d8e2;
    font-weight: 550;
}

.legend1 {
    width: 98%;
    max-width: 100%;
    font-size: 1.2rem;
    margin-left: 12px;
    line-height: 10px;
    margin-bottom: 15px;
    padding-bottom: 17px;
    color: #9C27B0;
    background-color: #c4d8e2;
    font-weight: 550;
}

.legend2 {
    width: 99%;
    font-size: 1.2rem;
    margin-left: 12px;
    line-height: 10px;
    margin-bottom: 15px;
    padding-bottom: 17px;
    margin-top: 5px;
    margin-right: 20px;
    color: #9C27B0;
    background-color: #c4d8e2;
    border-radius: 5px;
    font-weight: 550;
}
.legend-hide {
    width: 99%;
    font-size: 1.2rem;
    margin-left: 12px;
    line-height: 10px;
    margin-bottom: 15px;
    padding-bottom: 17px;
    margin-top: 5px;
    margin-right: 20px;
    color: #9C27B0;
    background-color: #c4d8e2;
    border-radius: 5px;
    font-weight: 550;
}

.form-control {
    display: block;
    width: 100%;
    /* height: 2.15rem;
    padding: .075rem .75rem; */
    height: 1.85rem;
    padding: .1rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, .12);
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.input-group-text {
    padding: 0 .75rem;
}

.select2-container--bootstrap .select2-selection--single {
    height: 30px;
}

.table th {
    /* padding: 0.4rem !important; */
    border-top: none;
    background-color: #c8ced3;
}

.table td {
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
    border-top: none;
}

/* DataTable related customization */

.dataTables_scrollFoot, .DTFC_RightFootWrapper {
    display: none;
}

.DTFC_RightBodyLiner td {
    vertical-align: middle;
}

.DTFC_RightBodyLiner {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.DTFC_RightBodyLiner {
    left: -12px;
}

td p {
    margin-top: .2rem;
    margin-bottom: .2rem;
}

/* css for current focus element */

.dataTables_wrapper .dataTables_filter input:focus, .dataTables_wrapper .dataTables_length select:focus, .form-control:focus, .form-check input:focus {
    background-color: #def9be;
    box-shadow: 0 0 0 3px rgba(70, 127, 207, 0.88);
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field:focus {
    background-color: #def9be;
    box-shadow: 0 0 0 3px rgba(70, 127, 207, 0.88);
}

.map-tab {
    /* position: absolute; */
    background: white;
    box-shadow: 0px 0px 5px 1px #ddd9d9;
}

.nepal_data_table tr td.title {
    font-size: 13px;
    font-weight: 600;
}

.nepal_data_table tr td.data {
    font-size: 16px;
    font-weight: 700;
    float: right;
}

.setting_table tr td.title {
    font-size: 13px;
    font-weight: 550;
}

.setting_table tr td.toggle_btn {
    float: right;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

form input[type=checkbox][readonly] {
    cursor: not-allowed;
}

#science_hub_logo{
    height:45px;
    /* margin-left:10%; */
}