.sidebar-menu {
    white-space: normal !important;
}

.widget {
    position: relative;
    width: auto;
    margin-bottom: 2em;
    overflow: hidden;
}

.widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #F9F6F1;
    background: -moz-linear-gradient(top, #F9F6F1 0%, #F2EFEA 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F6F1), color-stop(100%, #F2EFEA));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F9F6F1 0%, #F2EFEA 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F9F6F1 0%, #F2EFEA 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #F9F6F1 0%, #F2EFEA 100%);
    /* IE10+ */
    background: linear-gradient(top, #F9F6F1 0%, #F2EFEA 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F9F6F1', endColorstr='#F2EFEA');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F6F1', endColorstr='#F2EFEA')";
    border: 1px solid #D6D6D6;
    -webkit-background-clip: padding-box;
}

.widget-header h3 {
    position: relative;
    top: 2px;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 14px;
    font-weight: 800;
    color: #525252;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.widget-header [class^="icon-"],
.widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}

.widget-content {
    padding: 20px 15px 15px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget-header+.widget-content {
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget-nopad .widget-content {
    padding: 0;
}


/* Widget Content Clearfix */

.widget-content:before,
.widget-content:after {
    content: "";
    display: table;
}

.widget-content:after {
    clear: both;
}


/* For IE 6/7 (trigger hasLayout) */

.widget-content {
    zoom: 1;
}


/* Widget Table */

.widget-table .widget-content {
    padding: 0;
}

.widget-table .table {
    margin-bottom: 0;
    border: none;
}

.widget-table .table tr td:first-child {
    border-left: none;
}

.widget-table .table tr th:first-child {
    border-left: none;
}


/* Widget Plain */

.widget-plain {
    background: transparent;
    border: none;
}

.widget-plain .widget-content {
    padding: 0;
    background: transparent;
    border: none;
}


/* Widget Box */

.widget-box {}

.widget-box .widget-content {
    background: #E3E3E3;
    background: #FFF;
}