.accordion {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding-top: 15px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 1px solid #ddd;
}

.tab .nav-tabs li.active a, .tab .nav-tabs li.active a:focus, .tab .nav-tabs li.active a:hover {
    border: none;
    background: #4CAF50;
    color: #fff;
}

.act {
    list-style-image: url('sqpurple.gif');
}

.nav-tabs>li>a {
    display: inline-flex;
    margin: 0px 3px;
}

.nav-tabs>li>a img {
    height: 22px;
    width: 22px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.nav-tabs li a:hover {
    background: #28cf79;
    color: #fff;
    border: 1px dotted black;
    border-radius: 50%;
    padding: 2px;
    height: 27px;
}

.nav-tabs li a.active {
    background-color: #df5210;
    border-radius: 50%;
    padding: 2px;
    border: 1px dotted black;
    height: 27px;
    padding-bottom: 4px;
}

.map-tab {
    background-color: lightgray;
    width: fit-content;
    border-radius: 5px;
    height: 27px;
}

div.card-header.map-card-header, .map-tab {
    height: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.div.map-card-header {
    background-color: #444;
}

.side-card, .head-card, .card-body {
    border-radius: 20px;
}

.tab-content {
    padding: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card {
    border: none;
}

.tab-content .tab-pane{
    padding:5px;
}