.accordion {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.active, #timeline {
    background-color: #cccccc1a;
}

.panel {
    padding-top: 15px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 1px solid #ddd;
}

.tab .nav-tabs li.active a, .tab .nav-tabs li.active a:focus, .tab .nav-tabs li.active a:hover {
    border: none;
    background: #4CAF50;
    color: #fff;
}

.act {
    list-style-image: url('sqpurple.gif');
}

.nav-tabs>li>a {
    display: inline-flex;
    margin-top: 7px;
}

.nav-tabs li a:hover {
    background: #28cf79;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px;
}

.nav-tabs li a.active {
    background-color: #fa9746;
    border-radius: 5px;
    padding: 2px;
    border:1px solid gray;
}

.map-tab {
    background-color: white;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 20px;
}
.card-header{
    border-radius: 5px;
}
