#map {
    height: 410px;
    border-radius: 10px;
}

#map1 {
    height: 410px;
    border-radius: 10px;
}
#image1 {
    height: 410px;
    width:100%;
    border-radius: 10px;
}


html, body {
    height: 80%;
    margin: 0;
    padding: 0;
}

.div2 {
    width: 300px;
    height: 500px;
}

.household {
    margin-top: 0%;
    margin-left: 15px;
    font-weight: bold;
}

#open_street {
    margin-top: 0;
    width: 100%;
}

#google_map {
    margin-top: 0%;
    width: 100%;
}

#search {
    margin-top: -2%;
    background: #e2bcbcb5;
}

#m1 {
    margin-top: -1%;
    background: #e2bcbcb5;
}